@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h2 {
  text-align: center;
  font-size: 32px;
}

.pc-wrapper {
  width: 100%;
  margin: 0 auto;
}

.header {
  width: 100%;
  background: linear-gradient(to left, #008FFF 0%, #039BC7 32%, #06A78F 100%);

  .nav {
    position: fixed;
    left: 0;
    width: 300px;
    height: 150vh;
    background: white;
    transform: translateX(-100%);
    transition: transform 0.8s ease, opacity 0.8s ease;
    opacity: 0;
    z-index: 100;
    padding: 64px 20px;
    overflow-y: auto;

    li {
      padding: 24px 0;
      border-top: 2px solid black;

      &:nth-of-type(5) {
        border-bottom: 2px solid black;
      }


      a {
        color: black;
        font-size: 20px;
      }

    }

  }

  .nav.active {
    transform: translateX(0);
    opacity: 1;
  }

  .mask {
    display: none;
    position: fixed;
    right: 0;
    width: 100%;
    height: 150vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 50;
  }

  .mask.active {
    display: block;
  }



  .logo {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      li {
        a {
          color: black;
          font-size: 16px;
          padding: 0 30px;

          &:hover {
            opacity: 0.5;
          }
        }

        &:nth-of-type(3) a {
          font-size: 22px;
          font-weight: bold;
        }
      }
    }
  }

  .hamburger {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 100;
    flex-direction: column;

    span {
      display: block;
      width: 100%;
      height: 2px;
      background: black;
      transition: all 0.5s ease;
    }

  }

  .hamburger.active span {

    &:nth-of-type(1) {
      transform: translateY(11px) rotate(315deg);
      background: white;
    }

    &:nth-of-type(2) {
      opacity: 0;
      background: white;
    }

    &:nth-of-type(3) {
      transform: translateY(-11px) rotate(-315deg);
      background: white;
    }
  }

}

main {
  background: #f1ffff;
  padding: 0 0 100px;
}

.fv {
  background: linear-gradient(to left, #008FFF 0%, #039BC7 32%, #06A78F 100%);
  height: auto;
  padding: 190px 0 100px;
  text-align: center;

  .fv-text {
    h1 {
      margin-top: 45px;
      font-size: 32px;
    }

    p {
      margin-top: 45px;

      &:nth-of-type(1) {
        font-size: 24px;
      }

    }
  }

  .fv-scroll {
    cursor: pointer;
    max-width: 70px;
    letter-spacing: 2px;
    height: 30px;
    margin: 0 auto;

    p {
      font-size: 16px;
      margin-top: 200px;
    }

    .fv-triangle {

      &::after {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        transform: rotate(45deg);
      }
    }
  }
}

.works {

  max-width: 1200px;
  margin: 100px auto 0;
  padding: 0 70px;


  .works-flex {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;


    .work {
      width: 29.7%;
      height: auto;
      background: white;
      border-radius: 20px;
      padding: 8px;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;
      color: #003255;

      &:hover {
        transform: translateY(-20px);
        color: orange;
      }


      img {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
      }

      .work-text {
        padding: 41.5px 20px 20px;

        p {
          font-size: 18px;
          font-weight: bold;
          text-decoration: underline #003255 2px;

          &:nth-of-type(2) {
            margin-top: 24px;
            font-size: 14px;
            color: gray;
            text-decoration: underline #003255 2px;
          }
        }
      }
    }
  }

  .modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 101;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;


    .modal-box {
      background: #f1ffff;
      width: 90%;
      max-width: 1140px;
      margin: 20px auto;
      border-radius: 20px;
      overflow: hidden;
      text-align: center;
      opacity: 0;
      transform: translateY(30px) scale(0.98);
      transition: opacity 0.5s ease, transform 0.5s ease;
    }

    .modal-content {
      padding: 24px;
      max-height: 90vh;
      overflow-y: auto;

      .close {
        width: 50px;
        height: 50px;
        background: rgba(0, 0, 0, 0.2);
        border: none;
        border-radius: 50%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        display: block;
        margin-left: auto;
        cursor: pointer;
        position: relative;

        span {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 30px;
          height: 2px;
          background-color: black;
          display: flex;
          justify-content: center;
          align-items: center;

          &:nth-of-type(1) {
            transform: translate(-50%, -50%) rotate(45deg);
          }

          &:nth-of-type(2) {
            transform: translate(-50%, -50%) rotate(-45deg);
          }
        }
      }

      .modal-title {
        color: #003255;
        font-weight: bold;
        font-size: 32px;
        text-decoration: underline #003255 2px;
      }

      .modal-desc {
        color: black;
        font-weight: bold;
        margin-top: 12px;
      }

      .modal-img {

        .img-pc {
          width: 100%;
          border: 1px solid black;
          margin-top: 64px;
        }

        .img-sp {
          max-width: 368px;
          border: 1px solid black;
          margin-top: 64px;
        }

      }

      .site-link {
        display: inline-block;
        margin: 32px 0;
        padding: 12px 20px;
        background: #000;
        color: #fff;
        border-radius: 20px;
        transition: transform 0.3s ease;

        &:hover {
          transform: translateY(-10px);
          background: white;
          color: black;
          border: 2px solid black;
        }
      }
    }
  }

  .modal.active {
    opacity: 1;
    pointer-events: auto;
  }

  .modal.active .modal-box {
    opacity: 1;
    transform: translateY(0) scale(1);
  }

}

.skills {
  max-width: 1200px;
  padding: 0 70px;
  margin: 0 auto;

  h2 {
    margin-top: 100px;
  }

  .skill-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 64px;



    img {
      max-width: 100px;
      max-height: 100px;
      display: block;
      margin: 0 auto;
    }

    .skill {
      width: 30%;
      height: auto;
      background: white;
      border-radius: 20px;
      border: 1px solid black;
      padding: 24px 18px;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);

      p {
        margin-top: 18px;
        font-size: clamp(8px, 1.5vw, 14px);

        span {
          font-weight: bold;
          color: orange;
          font-size: 14px;
        }
      }
    }
  }
}

.about {
  max-width: 1200px;
  margin: 100px auto 0;

  .about-flex {
    display: flex;
    width: 78.3%;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 20px;
    background: white;


    .about-img {
      width: 40%;
      display: flex;
      align-items: center;

      img {
        width: 100%;

      }
    }

    .about-text {
      width: 60%;

      h2 {
        margin-top: 5px;
      }

      p {
        &:nth-of-type(1) {
          text-align: center;
          margin-top: 32px;
        }
      }

      .text {

        p {
          &:nth-of-type(1) {
            font-weight: bold;
            font-size: 24px;
            text-align: left;
          }

          &:nth-of-type(2) {
            margin-bottom: 30px;
            border-bottom: 2px solid rgba(255, 189, 68, 0.616);
            width: 80%;
          }

          &:nth-of-type(3) {
            line-height: 2;
          }

          &:nth-of-type(4) {
            line-height: 2;
          }
        }

        span {
          color: orange;
          font-weight: bold;
          font-size: 20px;
        }
      }

      .text {
        padding: 0 18px 12px;
      }
    }
  }
}

/* .hobby {
  max-width: 1200px;
  width: 79.2%;
  margin: 0 auto;
  background-color: white;
  border-radius: 20px;
  border: 1px solid black;


  .hobby-flex {
    display: flex;
    justify-content: center;
    gap: 8%;

    .hobby-item {
      text-align: center;
      margin-top: 32px;

      img {
        max-width: 180px;
        min-height: 180px;
        border-radius: 50%;
        border: 1px solid black;
      }

      p{
        margin-top: 18px;
        font-weight: bold;
      }
    }
  }
} */

.contact {
  max-width: 1200px;
  margin: 100px auto 0;
  width: 78.3%;
  border-radius: 20px;
  border: 1px solid black;
  padding: 64px 0;


  .contact-flex {
    width: 100%;
    display: flex;
    align-items: center;


    .contact-text {
      width: 60%;

      p {
        text-align: center;
      }

      button {
        background: none;
        border: none;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }

      .sns {
        width: 38%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;

        .line {
          background: #3DC912;
          border: 1px solid black;
          border-radius: 20px;
          max-width: 222px;
          height: 40px;
          text-align: center;
          margin-top: 32px;
          transition: all 0.3s ease;

          &:hover {
            opacity: 0.5;
            transform: translateY(-10px);
          }


          button {
            color: white;
            font-weight: bold;
            font-size: 20px;
          }
        }

        .instagram {
          background: linear-gradient(to right, #FF53CE 0%, #FF9267 58%, #FFB134 100%);
          border: 1px solid black;
          border-radius: 20px;
          max-width: 222px;
          height: 40px;
          text-align: center;
          margin-top: 18px;
          transition: all 0.3s ease;

          &:hover {
            opacity: 0.5;
            transform: translateY(-10px);
          }

          button {
            font-weight: bold;
            font-size: 20px;
            color: white;
          }
        }

        .gmail {
          background: white;
          border: 1px solid black;
          border-radius: 20px;
          max-width: 222px;
          height: 40px;
          text-align: center;
          margin-top: 18px;
          transition: all 0.3s ease;


          &:hover {
            opacity: 0.5;
            transform: translateY(-10px);
          }

          span {
            font-weight: bold;
            font-size: 20px;

            &:nth-of-type(1) {
              color: rgb(0, 110, 255);
            }

            &:nth-of-type(2) {
              color: red;
            }

            &:nth-of-type(3) {
              color: yellow;
            }

            &:nth-of-type(4) {
              color: rgb(0, 110, 255);
            }

            &:nth-of-type(5) {
              color: rgb(2, 170, 2);
            }
          }
        }
      }
    }

    .contact-img {
      width: 30%;

    }
  }
}

.footer {
  background: #D9D9D9;
  text-align: center;
  padding: 100px 0 20px;

  a{
    color: black;
    display: block;
    width: 160px;
    margin: 0 auto 50px;


    &:hover{
      opacity: 0.5;
    }

    p{
      width: 160px;
    }
  }
}

@media screen and (max-width: 767px) {

  .header {

    .nav{
      width: 70%;


      ul{

        li{
          &:nth-of-type(3){
          display: none;}
        }
      }
    }
    .logo {
      display: none;
    }

    .hamburger {
      right: 10px;
    }
  }

  .fv {
  padding: 100px 0 100px;

  .fv-text {
    padding: 0 8px;
    h1 {
      margin-top: 45px;
      font-size: 24px;
    }

    p {
      margin-top: 45px;

      &:nth-of-type(1) {
        font-size: 16px;
      }

      &:nth-of-type(2){
        font-size: 14px;
      }
    }
    }
  }

  .works {
    padding: 0 50px;

    .works-flex {
      display: block;


      .work {
        width: 100%;
        margin-top: 64px;
      }
    }
  }

  .skills {
    padding: 0 50px;

    .skill-flex {
      display: block;

      .skill {
        width: 100%;
        margin-top: 64px;

        p {
          margin-top: 18px;
          font-size: clamp(12px, 1.5vw, 14px);

          span {
            font-weight: bold;
            color: orange;
            font-size: 14px;
          }
        }
      }
    }
  }

  .about {
    padding: 0 50px;

    .about-flex {
      display: block;
      width: 100%;


      .about-img {
        width: 100%;
        justify-content: center;

        img {
          width: 60%;
        }

      }

      .about-text {
        width: 100%;

        .text {

          p {
            &:nth-of-type(1) {
              font-weight: bold;
              font-size: 24px;
              text-align: left;
            }

            &:nth-of-type(2) {
              margin-bottom: 30px;
              border-bottom: 2px solid rgba(255, 189, 68, 0.616);
              width: 80%;
            }

            &:nth-of-type(3) {
              line-height: 2;
              font-size: clamp(14px, 1.5vw, 16px);
            }

            &:nth-of-type(4) {
              line-height: 2;
              font-size: clamp(14px, 1.5vw, 16px);
            }
          }

          span {
            color: orange;
            font-weight: bold;
            font-size: clamp(16px, 1.5vw, 18px);
          }
        }

        .text {
          padding: 0 18px 12px;
        }
      }
    }
  }

  .contact {
    padding: 64px 0 0;

    .contact-flex {
      display: block;

      .contact-text {
        width: 100%;

        .sns {
          width: 70%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: 0 auto;

          .line {
            max-width: 100%;
          }

          .instagram {
            max-width: 100%;
          }

          .gmail {
            max-width: 100%;
          }
        }
      }

      .contact-img {
        width: 70%;
        margin: 0 auto;

        img {
          width: 100%;
        }

      }
    }
  }

}