@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.pc-wrapper {
  max-width: 1440px;
}

.header {
  width: 100%;
  background: linear-gradient(to left, #008FFF 0%, #039BC7 32%, #06A78F 100%);


  .logo {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      li {
        a {
          color: black;
          font-size: 16px;
          padding: 0 30px;
        }

        &:nth-of-type(3) a {
          font-size: 22px;
          font-weight: bold;
        }
      }
    }

    .hamburger-menu {
      position: fixed;
      top: 30px;
      right: 30px;
      width: 30px;
      height: 25px;
      display: flex;
      justify-content: space-between;
      background: none;
      border: none;
      cursor: pointer;
      z-index: 100;
      flex-direction: column;

      span {
        display: block;
        width: 100%;
        height: 2px;
        background: black;

      }

    }
  }
}

main {
  background: #f1ffff;
}

.fv {
  background: linear-gradient(to left, #008FFF 0%, #039BC7 32%, #06A78F 100%);
  height: auto;
  padding: 190px 0 100px;
  text-align: center;

  .fv-text {
    h1 {
      margin-top: 45px;
      font-size: 32px;
    }

    p {
      margin-top: 45px;

      &:nth-of-type(1) {
        font-size: 24px;
      }

    }
  }

  .fv-scroll {
    cursor: pointer;
    max-width: 70px;
    letter-spacing: 2px;
    height: 30px;
    margin: 0 auto;

    p {
      font-size: 16px;
      margin-top: 200px;
    }

    .fv-triangle {

      &::after {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        transform: rotate(45deg);
      }
    }
  }
}

.works {

  max-width: 1200px;
  margin: 100px auto 0;
  padding: 0 70px;


  h2 {
    text-align: center;
  }

  .works-flex {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;


    .work {
      width: 29.7%;
      height: auto;
      background: white;
      border-radius: 20px;
      padding: 8px;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;
      color: #003255;

      &:hover {
        transform: translateY(-20px);
        color: orange;
      }


      img {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
      }

      .work-text {
        padding: 41.5px 20px 20px;

        p {
          font-size: 18px;
          font-weight: bold;
          text-decoration: underline #003255 2px;

          &:nth-of-type(2) {
            margin-top: 24px;
            font-size: 14px;
            color: gray;
            text-decoration: underline #003255 2px;
          }
        }
      }
    }
  }

  .modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 101;

    .modal-box {
      background: #f1ffff;
      width: 90%;
      max-width: 1140px;
      margin: 0px auto;
      border-radius: 20px;
      overflow: hidden;
      text-align: center;
    }

    .modal-content {
      padding: 24px;
      max-height: 90vh;
      overflow-y: auto;

      .close {
        width: 50px;
        height: 50px;
        background: rgba(0, 0, 0, 0.2);
        border: none;
        border-radius: 50%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        display: block;
        margin-left: auto;
        cursor: pointer;
        position: relative;

        span {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 30px;
          height: 2px;
          background-color: black;
          display: flex;
          justify-content: center;
          align-items: center;

          &:nth-of-type(1) {
            transform: translate(-50%, -50%) rotate(45deg);
          }

          &:nth-of-type(2) {
            transform: translate(-50%, -50%) rotate(-45deg);
          }
        }
      }

      .modal-title {
        color: #003255;
        font-weight: bold;
        font-size: 32px;
        text-decoration: underline #003255 2px;
      }

      .modal-desc {
        color: black;
        font-weight: bold;
        margin-top: 12px;
      }

      .modal-img {

        .img-pc {
          width: 100%;
          border: 1px solid black;
          margin-top: 64px;
        }

        .img-sp {
          max-width: 368px;
          border: 1px solid black;
          margin-top: 64px;
        }

      }

      .site-link {
        display: inline-block;
        margin: 32px 0;
        padding: 12px 20px;
        background: #000;
        color: #fff;
        border-radius: 20px;
        transition: transform 0.3s ease;

        &:hover {
          transform: translateY(-10px);
          background: white;
          color: black;
          border: 2px solid black;
        }
      }
    }
  }

  .modal.active {
    display: flex;
  }

}